{% extends "main/base.html" %}

{% block title %}კლიენტის რეგისტრაცია{% endblock %}
{% block script %}
	<script src="{{ url_for('static', filename='dist/js/custom/customers/create.js') }}"></script>
{% endblock %}
{% block content %}
    <!-- Форма регистрации клиента -->
    <form method="POST" id="customer-form" novalidate> <!-- Добавлен id="customer-form" -->
        <div class="row">
            <div class="col-md-6">
                {{ customer_form.hidden_tag() }}
                {{ order_form.hidden_tag() }}
                <input type="hidden" name="create_order" id="create-order-flag" value="false">

                <div class="card">
                    <div class="card-header">
                        <div class="d-flex justify-content-between align-items-center">
                            <h3 class="card-title">კლიენტის ფორმა</h3>
                            <button type="button" class="btn btn-primary" id="add-order-btn">
                                <i class="fas fa-plus"></i> შეკვეთის დამატება
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Поля для регистрации клиента -->
                        <div class="form-group">
                            <label>კლიენტის ტიპი</label>
                            {{ customer_form.type_id(class="form-control", id="customer-type") }}
                        </div>
                        <div id="individual-fields" style="display: none;">
                            <div class="form-group">
                                <label>პირადი ნომერი</label>
                                {{ customer_form.identification_number(class="form-control") }}
                            </div>
                            <div class="form-group">
                                <label>სახელი და გვარი</label>
                                {{ customer_form.name(class="form-control") }}
                            </div>
                        </div>
                        <div id="company-fields" style="display: none;">
                            <div class="form-group">
                                <label>საიდენტიფიკაციო კოდი</label>
                                {{ customer_form.identification_number(class="form-control") }}
                            </div>
                            <div class="form-group">
                                <label>კომპანიის სახელი</label>
                                {{ customer_form.name(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>ელ. ფოსტა</label>
                            {{ customer_form.email(class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>მობილური ნომერი</label>
                            {{ customer_form.mobile(class="form-control") }}
                        </div>
                        <div class="form-group">
                            <label>დამატებითი საკონტაქტო</label>
                            {{ customer_form.mobile_second(class="form-control") }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Форма для заказа -->
            <div class="col-md-6" id="order-form-section" style="display: none;">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">შეკვეთის ფორმა</h3>
                    </div>
                    <div class="card-body">
                        <!-- Поля для заказа -->
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>რაიონი</label>
                                {{ order_form.address.district_id(class="form-control", required=True) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>დასახლება</label>
                                {{ order_form.address.settlement_id(class="form-control", required=True) }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-8 mb-3">
                                <label>ქუჩის სახელი</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-road"></i></span>
                                    </div>
                                    {{ order_form.address.street(class="form-control", required=True) }}
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label>ქუჩის ნომერი</label>
                                {{ order_form.address.building_number(class="form-control", required=True) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="building_type">შენობის ტიპი</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-building"></i></span>
                                    </div>
                                    {{ order_form.address.building_type_id(class="form-control", required=True) }}
                                </div>
                            </div>
                            <div class="col-md-6 mb-3" id="dynamic_fields"></div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>მობილური ტელეფონი</label>
                                {{ order_form.mobile(class="form-control", required=True) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>ალტერნატიული მობილური</label>
                                {{ order_form.alt_mobile(class="form-control") }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label>გრძედი</label>
                                {{ order_form.address.latitude(class="form-control", required=True) }}
                            </div>
                            <div class="col-md-6 mb-3">
                                <label>განედი</label>
                                {{ order_form.address.longitude(class="form-control", required=True) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label>შენობის რეგისტრაციის კოდი</label>
                            {{ order_form.address.registry_code(class="form-control", required=True) }}
                        </div>
                        <div class="form-group">
                            <label>სატარიფო გეგმა</label>
                            {{ order_form.tariff_plan_id(class="form-control", required=True) }}
                        </div>
                        <div class="form-group">
                            <label>დამატებითი კომენტარი</label>
                            {{ order_form.comment(class="form-control", required=True, rows=4) }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- Кнопка отправки -->
            <div class="col-md-12 mt-3 mb-3 text-center">
                <button type="submit" class="btn btn-primary btn-custom">რეგისტრაცია</button>
            </div>
        </div>
    </form>

    <style>
        /* Стили анимации и кнопок */
        .btn-custom {
            font-size: 1.25rem;
            padding: 15px 30px;
        }

        .fade-in {
            animation: fadeIn 0.5s forwards;
        }

        .fade-out {
            animation: fadeOut 0.5s forwards;
        }

        @keyframes fadeIn {
            from { opacity: 0; }
            to { opacity: 1; }
        }

        @keyframes fadeOut {
            from { opacity: 1; }
            to { opacity: 0; }
        }
    </style>
{% endblock %}
