{% extends "main/base.html" %}

{% block title %}კლიენტის დეტალები{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="card shadow-sm">
            <div class="card-header bg-info text-white">
                <h3 class="card-title mb-0">კლიენტის დეტალები</h3>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-md-6 col-12 mb-2">
                        <div class="form-group">
                            <label class="font-weight-bold">კლიენტის ტიპი:</label>
                            <p>{{ customer.customer_type.name }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-2">
                        <div class="form-group">
                            <label class="font-weight-bold">ელ. ფოსტა:</label>
                            <p>{{ customer.email }}</p>
                        </div>
                    </div>
                </div>

                {% if customer.customer_type.id == 1 %}
                    <!-- For individuals -->
                    <div class="row mb-3">
                        <div class="col-md-6 col-12 mb-2">
                            <div class="form-group">
                                <label class="font-weight-bold">პირადი ნომერი:</label>
                                <p>{{ customer.identification_number }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mb-2">
                            <div class="form-group">
                                <label class="font-weight-bold">სახელი და გვარი:</label>
                                <p>{{ customer.name }}</p>
                            </div>
                        </div>
                    </div>
                {% elif customer.customer_type.id > 1 %}
                    <!-- For legal entities -->
                    <div class="row mb-3">
                        <div class="col-md-6 col-12 mb-2">
                            <div class="form-group">
                                <label class="font-weight-bold">საიდენტიფიკაციო კოდი:</label>
                                <p>{{ customer.identification_number }}</p>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 mb-2">
                            <div class="form-group">
                                <label class="font-weight-bold">კომპანიის სახელი:</label>
                                <p>{{ customer.name }}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <div class="row mb-3">
                    <div class="col-md-6 col-12 mb-2">
                        <div class="form-group">
                            <label class="font-weight-bold">მობილური ნომერი:</label>
                            <p>{{ customer.mobile }}</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mb-2">
                        <div class="form-group">
                            <label class="font-weight-bold">დამატებითი საკონტაქტო:</label>
                            <p>{{ customer.mobile_second or 'არ არსებობს' }}</p>
                        </div>
                    </div>
                </div>

                <!-- Buttons for edit and order acceptance -->
                <div class="form-group mt-3 d-flex justify-content-between">
                    <div>
                        <a href="#" class="btn btn-success"
                           title="შეკვეთის მიღება"><i class="fas fa-plus"></i></a>
                    </div>
                    <div>
                        <a href="{{ url_for('customers.edit', id=customer.id) }}" class="btn btn-warning"
                           title="რედაქტირება"><i class="fas fa-edit"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
