{% extends 'main/base.html' %}

{% block title %}დეპარტამენტები{% endblock %}

{% block content %}
    <div class="car mb-5">
        <a href="{{ url_for('departments.create') }}" class="btn btn-success">დამატება</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">დეპარტამენტების</h3>
            <div class="card-tools col-md-auto">
                <a href="#" class="btn btn-primary btn-sm">
                    <i class="fas fa-file-excel"></i> ექსპორტი
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="card-tools">
                        <form method="GET" action="{{ url_for('departments.dep_list') }}"
                              style="display: flex; justify-content: space-between; align-items: center;">
                            <!-- Right Side: Search -->
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="search" class="form-control" placeholder="ძიება"
                                       value="{{ request.args.get('search', '') }}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Left Side: Records per page -->
                            <div class="input-group input-group-sm mr-2 ml-2" style="width: 100px;">
                                <select name="per_page" id="per_page" class="form-control form-control-sm"
                                        onchange="this.form.submit()">
                                    <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                                    <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                                    <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>სახელი</th>
                            <th>შენიშვნა</th>
                            <th>შექმნილი</th>
                            <th>რედქტირებული</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{ department.id }}</td>
                                <td>
                                    <span>{{ department.name }}</span>
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="{{ department.description }}"></i>
                                </td>
                                <td>{{ department.createdAt }}</td>
                                <td>{{ department.updatedAt }}</td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="">
                                        <a href="{{ url_for('departments.edit', id=department.id) }}"
                                           class="btn btn-primary btn-sm"><i class="fas fa-edit"></i></a>
                                        <a href="{{ url_for('divisions.div_list', id=department.id) }}"
                                           class="btn btn-info btn-sm" title="განყოფილებები"><i class="fas fa-eye"></i></a>
{#                                        <a href="#" class="btn btn-danger btn-sm" data-toggle="modal"#}
{#                                           data-target="#delete" onclick="delete({{ department.id }})">#}
{#                                            <i class="fas fa-trash-alt"></i>#}
{#                                        </a>#}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <ul class="pagination">
                        {% if pagination.pages > 1 %}
                            {% if pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('departments.dep_list', search=request.args.get('search', ''), per_page=per_page, page=pagination.prev_num) }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_num in range(1, pagination.pages + 1) %}
                                <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('departments.dep_list', search=request.args.get('search', ''), per_page=per_page, page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('departments.dep_list', search=request.args.get('search', ''), per_page=per_page, page=pagination.next_num) }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
