{% extends 'main/base.html' %}

{% block title %}დეპარტამენტი — {{ department.name }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ url_for('departments.dep_list') }}">დეპარტამენტები</a>
    </li>
    <li class="breadcrumb-item active">განყოფილებების სია</li>
{% endblock %}

{% block content %}
    <div class="car mb-2 btn-group">
        <a href="{{ url_for('divisions.create', dep_id=department.id) }}" class="btn btn-success"
           title="განყოფილების დამატება"><i class="fas fa-plus"></i></a>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">განყოფილებების სია</h3>
            <div class="card-tools col-md-auto">
                <a href="#" class="btn btn-primary btn-sm">
                    <i class="fas fa-file-excel"></i> ექსპორტი
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card-header">
                    <div class="card-tools">
                        <form method="GET" action="{{ url_for('divisions.div_list', dep_id=department.id) }}"
                              style="display: flex; justify-content: space-between; align-items: center;">
                            <div class="input-group input-group-sm" style="width: 200px;">
                                <input type="text" name="search" class="form-control" placeholder="ძებნა"
                                       value="{{ request.args.get('search', '') }}">
                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                            <!-- Posts on page -->
                            <div class="input-group input-group-sm mr-2 ml-2" style="width: 100px;">
                                <select name="per_page" id="per_page" class="form-control form-control-sm"
                                        onchange="this.form.submit()">
                                    <option value="10" {% if per_page == 10 %}selected{% endif %}>10</option>
                                    <option value="50" {% if per_page == 50 %}selected{% endif %}>50</option>
                                    <option value="100" {% if per_page == 100 %}selected{% endif %}>100</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Pagination -->
                <ul class="pagination">
                    {% if pagination.pages > 1 %}
                        {% if pagination.has_prev %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('divisions.div_list', dep_id=department.id, search=request.args.get('search', ''), per_page=per_page, page=pagination.prev_num) }}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% endif %}
                        {% for page_num in range(1, pagination.pages + 1) %}
                            <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                <a class="page-link"
                                   href="{{ url_for('divisions.div_list', dep_id=department.id, search=request.args.get('search', ''), per_page=per_page, page=page_num) }}">{{ page_num }}</a>
                            </li>
                        {% endfor %}
                        {% if pagination.has_next %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ url_for('divisions.div_list', dep_id=department.id, search=request.args.get('search', ''), per_page=per_page, page=pagination.next_num) }}"
                                   aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {% endif %}
                    {% endif %}
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">სახელი</th>
                            <th class="text-center">შეიქმნა</th>
                            <th class="text-center">დარედაქტირდა</th>
                            <th class="text-center">მოქმედება</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for division in divisions %}
                            <tr>
                                <td class="text-center">{{ division.id }}</td>
                                <td>
                                    <span>{{ division.name }}</span>
                                    <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top"
                                       title="{{ division.description }}"></i>
                                </td>
                                <td class="text-center">{{ division.created_at }}</td>
                                <td class="text-center">{{ division.updated_at }}</td>
                                <td class="text-center">
                                    <div class="btn-group" role="group" aria-label="Actions">
                                        <a href="{{ url_for('divisions.edit', id=division.id) }}"
                                           class="btn btn-warning btn-sm" title="რედაქტირება"><i
                                                class="fas fa-edit"></i></a>
                                        <a href="{{ url_for('division_positions.position_create', div_id=division.id) }}"
                                           class="btn btn-success btn-sm" title="პოზიციები">
                                            <i class="fas fa-user-friends"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="card-footer">
                    <ul class="pagination">
                        {% if pagination.pages > 1 %}
                            {% if pagination.has_prev %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('divisions.div_list', search=request.args.get('search', ''), per_page=per_page, page=pagination.prev_num) }}"
                                       aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                            {% for page_num in range(1, pagination.pages + 1) %}
                                <li class="page-item {% if page_num == pagination.page %}active{% endif %}">
                                    <a class="page-link"
                                       href="{{ url_for('divisions.div_list', search=request.args.get('search', ''), per_page=per_page, page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% endfor %}
                            {% if pagination.has_next %}
                                <li class="page-item">
                                    <a class="page-link"
                                       href="{{ url_for('divisions.div_list', search=request.args.get('search', ''), per_page=per_page, page=pagination.next_num) }}"
                                       aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
