<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <div class="d-flex">
        <a href="{{ url_for('dashboard.index') }}" class="brand-link">
            <img src="{{ url_for('static', filename='dist/img/jinet-logo-light.png') }}" alt="AdminLTE Logo"
                 class="brand-image img-rounded " style="opacity: .8;">
        </a>
    </div>
    <!-- Sidebar -->
    <div class="sidebar">
        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="ძიება" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item {% if active_menu == 'administration' %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if active_menu == 'administration' %}active{% endif %}">
                        <i class="nav-icon fas fa-user-lock"></i>
                        <p>
                            ადმინისტრაცია
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('users.users_list') }}" class="nav-link {% if request.path.split('/')[1] == 'users' %}active{% endif %}">
                                <i class="fas fa-users nav-icon"></i>
                                <p>თანამშრომლები</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('departments.dep_list') }}" class="nav-link {% if request.path.split('/')[1] == 'departments' %}active{% endif %}">
                                <i class="fas fa-project-diagram nav-icon"></i>
                                <p>დეპარტამენტები</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('roles.roles_list') }}" class="nav-link {% if request.path.split('/')[1] == 'roles' %}active{% endif %}">
                                <i class="fas fa-exclamation-circle nav-icon"></i>
                                <p>როლები</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {% if active_menu == 'customers' %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if active_menu == 'customers' %}active{% endif %}">
                        <i class="nav-icon far fa-address-card"></i>
                        <p>
                            კლიენტები
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('customers.create') }}" class="nav-link {% if request.path.split('/')[2] == 'create' %}active{% endif %}">
                                <i class="fas fa-user-plus nav-icon"></i>
                                <p>რეგისტრაცია</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('customers.customers_list') }}" class="nav-link {% if request.path.split('/')[2] == 'list' %}active{% endif %}">
                                <i class="fas fa-users nav-icon"></i>
                                <p>ყველა კლიენტები</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link {% if request.path.split('/')[2] == 'types' %}active{% endif %}">
                                <i class="far fa-address-card nav-icon"></i>
                                <p>კლიენტის ტიპები</p>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item {% if active_menu == 'nms' %}menu-open{% endif %}">
                    <a href="#" class="nav-link {% if active_menu == 'nms' %}active{% endif %}">
                        <i class="fas fa-network-wired nav-icon"></i>
                        <p>
                            ქსელის მართვა
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="{{ url_for('nms.map') }}" class="nav-link {% if request.path.split('/')[2] == 'map' %}active{% endif %}">
                                <i class="fas fa-map-marked-alt nav-icon"></i>
                                <p>რუკა</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>