{# templates/error/500.html #}
<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>შეცდომა 500</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom/errors/error500.css') }}">
</head>
<body>
<div class="container">
    <div class="error">
        <h1>500</h1>
        <h2>შეცდომა</h2>
        <p>რაღაც არასწორია... შეამოწმეთ თქვენი სისტემის ჟურნალები და დაფიქრდით :)</p>
    </div>
    <div class="stack-container">
        <!-- Здесь ваш сложный HTML код -->
    </div>
</div>
<script src="{{ url_for('static', filename='js/dist/custom/errors/500.js') }}"></script>
</body>
</html>


