{# crm_flask/app/templates/error/500.html #}
<!DOCTYPE html>
<html lang="ka">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>შეცდომა 500</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/custom/errors/error500.css') }}">
</head>
<body>
    <div id="error">
        დაფიქსირდა შეცდომა
    </div>
    <div class="error-num">
        500
        <div class="error-num__clip">500</div>
    </div>
    <p>დაბრუნდით #[<a href="{{ url_for('dashboard.index') }}">მთავარ გვერდზე</a>]</p>
</body>
</html>



