{% extends 'main/base.html' %}

{% block title %}{{ role.name }} - როლის დაშვებები{% endblock %}

{% block content %}
    <div class="card col-md-6">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th class="text-center">#</th>
                    <th class="text-center">Permission Name</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for permission in all_permissions %}
                    <tr>
                        <td class="text-center">{{ permission.id }}</td>
                        <td>{{ permission.name }}</td>
                        <td class="text-center">
                            {% if permission.id in role_permissions %}
                                <span class="badge bg-success">Enabled</span>
                            {% else %}
                                <span class="badge bg-danger">Disabled</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <form method="POST" action="{{ url_for('roles.permissions_for_role', id=role.id) }}">
                                {% if permission.id in role_permissions %}
                                    <input type="hidden" name="delete_permission" value="delete_permission">
                                    <input type="hidden" name="permission_id" value="{{ permission.id }}">
                                    <button type="submit" class="btn btn-outline-danger">Disable</button>
                                {% else %}
                                    <input type="hidden" name="add_permission" value="add_permission">
                                    <input type="hidden" name="permission_id" value="{{ permission.id }}">
                                    <button type="submit" class="btn btn-outline-success">Enable</button>
                                {% endif %}
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
