{% extends 'main/base.html' %}

{% block title %}{{ role.name }} - როლის დაშვებები{% endblock %}

{% block content %}
    <div class="card col-md-6">
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Permission Name</th>
                    <th>Status</th>
                    <th style="width: 40px">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for role_permission in role_permissions %}
                    <tr>
                        <td>{{ loop.index }}.</td>
                        <td>{{ role_permission.permission.name }}</td>
                        <td>
                            <span class="badge bg-{{ 'success' if role_permission in role_permissions else 'danger' }}">
                                {{ 'Enabled' if role_permission in role_permissions else 'Disabled' }}
                            </span>
                        </td>
                        <td>
                            <form method="POST" action="{{ url_for('roles.toggle_permission', role_id=role.id, permission_id=role_permission.permission.id) }}">
                                <button type="submit" class="btn btn-outline-{{ 'danger' if role_permission in role_permissions else 'success' }}">
                                    {{ 'Disable' if role_permission in role_permissions else 'Enable' }}
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
